:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}

.hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

h1 {
  font-size: 2.5rem;
}

form {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-areas: "lt rt""lb rb";
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin: auto;
}

label {
  position: relative;
}

input {
  font-size: 1.5rem;
  width: 100%;
  border: none;
  padding: 0 0 0 05.rem;
}

input:where(:focus, :focus-visible) {
  outline-style: dashed;
  outline-color: #d49552;
  outline-width: 3px;
}

input+i {
  display: none;
  position: absolute;
  font-size: 40px;
  color: red;
  right: 0;
}

input.error {
  outline-color: red;
}

input.error+i {
  display: inline-block;
}

form label:first-child() {
  grid-area: lt;
}

form label:nth-child(2) {
  grid-area: lb;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}